.portfolio-picture {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  z-index: 9999;
}


.logo {
  display: inline-block;
  padding: 25px;
}

.paragraphs {
  float: right;
  width: 50%;
}

.intro {
  font-family: 'Slabo 27px', serif;
  font-size: xx-large;
  padding: 0px 0px 20px 20px;
  line-height: 100%;
}

.body-paragraph1, .body-paragraph2, .links {
  padding: 0px 0px 20px 20px;
  display: inline-block;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 120%;
  font-size: large;
}
